.walletContainer {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 123.58px;
  height: 34px;
  background: linear-gradient(#505050 0.03%, #313131 78.98%);
}

.leftSide {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.icon {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.value {
  font-size: 20px;
  text-align: center;
}

.rightSide {
  display: flex;
  align-items: center;
}

.plusIcon {
  width: 29px;
  height: 29px;
}
