.walletContainer {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 123.58px;
}

.leftSide {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.value {
  font-size: 20px;
  text-align: center;
}

.rightSide {
  display: flex;
  align-items: center;
}

.plusIcon {
  width: 30px;
  height: 30px;
}
