:root {
  --font: "Montserrat", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}
.text-xs {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.text-sm {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.text-md {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}

.text-lg {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
